
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="description" content="best web design ,web developers, mobile app development, android application development, mobile application development company, mobile app development company, Iphone app development company, digital marketing service provider, seo service provider ">
<title>Sheoran Infotech - Best Website, Desktop App Development, IOS Development And Android Development Company</title>


<!--::banner part start::-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-5">
                <div class="banner_img d-none d-lg-block">
                    <img src="~/img/banner_img.png" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="banner_text">
                    <div class="banner_text_iner">
                        <h1>
                            We fuel ideas that grow.
                        </h1>
                        <p style="color:black;">
                            <b>Sheoran Infotech</b> is an innovation studio powered by a collective of problem solvers. 
                            We create platforms, experiences, spaces, and companies that build momentum and scale.
                            Let’s build something amazing together.
                        </p>
                      @*  <a href="#" class="btn_2">try for free</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/animate_icon/Ellipse_7.png" alt="" class="feature_icon_1 custom-animation1">
    <img src="~/img/animate_icon/Ellipse_8.png" alt="" class="feature_icon_2 custom-animation2">
    <img src="~/img/animate_icon/Ellipse_1.png" alt="" class="feature_icon_3 custom-animation3">
    <img src="~/img/animate_icon/Ellipse_2.png" alt="" class="feature_icon_4 custom-animation4">
    <img src="~/img/animate_icon/Ellipse_3.png" alt="" class="feature_icon_5 custom-animation5">
    <img src="~/img/animate_icon/Ellipse_4.png" alt="" class="feature_icon_6 custom-animation6">
</section>
<!--::banner part start::-->
<!--::use sasu part end::-->
<section class="use_sasu padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <img src="~/img/icon/serv-four.png" alt="">
                        <h4>Website Development</h4>
                        <p>
                            Whether you want to sell products or services, 
                            you would always like to unlock online market.
                             For this, you need a website that can help.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <img src="~/img/icon/serv-six.png" alt="">
                        <h4>Mobile Application Development</h4>
                        <p>
                            Mobile application development is an essential part of a complete 
                            creative web design and development process. If you want to get 
                            mobile application developed and.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single_feature">
                    <div class="single_feature_part">
                        <img src="~/img/icon/serv-three.png" alt="">
                        <h4>Digital Marketing & SEO</h4>
                        <p>
                            Marketing Strategy, Social Media, SEO/PPC, Lead Generation, Analytics + Business Intelligence, Content Marketing, Digital Marketing.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/animate_icon/Ellipse_1.png" alt="" class="feature_icon_1 custom-animation1">
</section>
<!--::use sasu part end::-->
<!--::about_us part start::-->
<section class="about_us section_padding">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <img src="~/img/icon/Icon_1.png" alt="">
                    <h2>
                        What <br>
                        we do ?
                    </h2>
                    <p>
                        We help our clients to BOOST the profits, enhance productivity, effective competition & facilitate 
                        growth by creating quality websites. We are specialized in planning, designing and implementing
                         highly interactive and engaging experiences for the web. We are one of best website designers
                         & best web developer.
                    </p>
                    @*<a href="#" class="btn_2">learn more</a>*@
                </div>
            </div>
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="~/img/about_img.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/animate_icon/Ellipse_4.png" alt="" class="feature_icon_1 custom-animation1">
</section>
<!--::about_us part end::-->
<!--::about_us part start::-->
<section class="about_us right_time">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="learning_img">
                    <img src="~/img/about_img_1.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="about_us_text">
                    <img src="~/img/icon/Icon_2.png" alt="">
                    <h2>
                        Why Us ?
                    </h2>
                    <p>
                        We are a team of International designers. We are unique & our designs also are unique.
                         As web development bangalore based company, we can assure 100% satisfaction and good 
                        quality websites to our clients. We provide Websites at relevant price.
                    </p>
                   @* <a href="#" class="btn_2">learn more</a>*@
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/animate_icon/Ellipse_5.png" alt="" class="feature_icon_2 custom-animation2">
</section>
<!--::about_us part end::-->
<!--::pricing part start::-->
<!--- <section class="pricing_part section_padding home_page_pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section_tittle text-center">
                    <h2>Simple Pricing</h2>
                    <p>
                        Life firmament under them evening make after called dont
                        saying likeness isn't wherein also forth she'd air two without
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="~/img/icon/pricing_icon_1.png" alt="">
                    <p>Standard</p>
                    <h3>₹ 80 <span>/ mo</span></h3>
                    <ul>
                        <li>1 GB Webspace</li>
                        <li>5000 MB Bandwidth</li>
                        <li>25 Email Accounts</li>
                        <li>Cpanel/Plesk Control Panel</li>
                        @*<li>3 Host Domain</li>*@
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="pricing_btn">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="~/img/icon/pricing_icon_2.png" alt="">
                    <p>Business</p>
                    <h3>₹ 709 <span>/ mo</span></h3>
                    <ul>
                        <li>50 GB Webspace</li>
                        <li>Unlimited Bandwidth</li>
                        <li>Host Unlimited Websites</li>
                        <li>WHM/Plesk Control Panel</li>
                        @*<li>3 Host Domain</li>*@
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="pricing_btn">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="~/img/icon/pricing_icon_3.png" alt="">
                    <p>Premium</p>
                    <h3>₹ 599 <span>/ mo</span></h3>
                    <ul>
                        <li>30 GB Hard Drive</li>
                        <li>500 GB Bandwidth</li>
                        <li>768 MB RAM</li>
                        <li>WHM/Plesk Control Panel</li>
                        @*<li>3 Host Domain</li>*@
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="pricing_btn">Purchase Now</a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single_pricing_part">
                    <img src="~/img/icon/pricing_icon_4.png" alt="">
                    <p>Ultimate</p>
                    <h3>₹ 6644 <span>/ mo</span></h3>
                    <ul>
                        <li>500 GB SATA</li>
                        <li>10 TB Bandwidth</li>
                        <li>4 GB DDR III RAM</li>
                        <li>Full Root Access</li>
                       @* <li>3 Host Domain</li>*@
                        <li>24/7 Support</li>
                    </ul>
                    <a href="#" class="pricing_btn">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
    <img src="~/img/animate_icon/Ellipse_2.png" alt="" class="feature_icon_2 custom-animation2">
</section>
-->
<!--::pricing part end::-->
<!--::about_us part start::-->
@*<section class="review_part padding_bottom">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-lg-6">
                <div class="review_img">
                    <img src="~/img/review_bg.png" alt="">
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <div class="review_slider owl-carousel">
                    <div class="review_part_text">
                        <h2>
                            With efficiency to
                            unlock more opportunities
                        </h2>
                        <p>
                            “We’ve been experimenting with ways to use the CMS features and homepage sections.
                             It’s been great working it you – hopefully we’ll get the chance to work together
                             again in the future!Best wishes and thank you for a terrific job.

                        </p>
                        <h3>Turtle Press  </h3>
                    </div>
                    <div class="review_part_text">
                        <h2>
                            With efficiency to
                            unlock more opportunities
                        </h2>
                        <p>
                            “Great! Exactly as we want to have it… Backoffice looks great. Layout is great, good job… Global calendar looks good on the whole! Thanks! Please give my regards to the team!” 
                        </p>
                        <h3>Stefan Offixo </h3>
                    </div>
                  
                </div>

            </div>
        </div>
    </div>
    <img src="~/img/animate_icon/Ellipse_4.png" alt="" class="feature_icon_2 custom-animation2">
</section>*@
<!--::about_us part end::-->

<!--::client logo part end::-->
@*<section class="client_logo">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="client_logo_slider owl-carousel d-flex justify-content-between">
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_2.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_3.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_4.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_5.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_1.png" alt="">
                    </div>
                    <div class="single_client_logo">
                        <img src="~/img/client_logo/client_logo_2.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<!--::client logo part end::-->